# Database
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD=CHANGE_ME

# Redis (same password for both instances)
REDIS_PASSWORD=CHANGE_ME

# NetBox
SECRET_KEY=CHANGE_ME
# Generate with: openssl rand -hex 50

# Admin Account
SUPERUSER_NAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=CHANGE_ME

# Ports
NETBOX_PORT=8000
